@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.primary-color {
    color: #FFC100;
}

#home {
  background-image: url("./assets/img/BgHome.png");
}

/* Gaya default bullet */
.swiper-pagination-bullet {
  background: #888; /* Warna latar belakang bullet */
  width: 12px; /* Lebar bullet */
  height: 12px; /* Tinggi bullet */
  border-radius: 50%; /* Membuat bullet menjadi bulat */
  opacity: 1; /* Opasitas bullet */
  transition: background 0.3s, width 0.3s, height 0.3s; /* Transisi saat hover atau aktif */
  
}

/* Gaya bullet yang aktif */
.swiper-pagination-bullet-active {
  background: #FFC100; /* Warna latar belakang bullet aktif */
  width: 32px; /* Lebar bullet aktif */
  height: 12px; /* Tinggi bullet aktif */
}

/* Bullet ketika hover (opsional) */
.swiper-pagination-bullet:hover {
  background: #FFC100; /* Warna latar belakang bullet saat hover */
}

/* Bullet untuk pagination custom */
.custom-pagination .swiper-pagination-bullet {
  align-items: center;
  background: #888; /* Warna latar belakang bullet custom */
  border: 1px solid #dddd; /* Border bullet */
  width: 25px; /* Lebar bullet custom */
  height: 6px; /* Tinggi bullet custom */
  border-radius: 10%; /* Membuat bullet menjadi bulat */
}

.custom-pagination .swiper-pagination-bullet-active {
  background: #FFC100; /* Warna latar belakang bullet aktif custom */
}
